@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto");
.portfolio, .skills, footer {
  padding-top: 20px; }

header h1 {
  text-shadow: 3px 3px 5px #222; }

/***** GENERAL STYLES *****/
* {
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #eee; }

.container {
  width: 100vw;
  background-color: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; }

h2 {
  margin-top: 0; }

nav ul {
  list-style-type: none;
  padding: 0; }

img {
  max-width: 100%; }

div {
  width: 100%; }

footer a {
  text-decoration: none;
  color: #444444;
  font-weight: 700;
  text-transform: uppercase;
  transition: all .5s; }

/***** HEADER AND NAVIGATION *****/
header {
  background: linear-gradient(#78CAFF, transparent 80%), linear-gradient(transparent, white 100%), url(../images/james-donovan-.jpg) no-repeat center/cover; }
  header h1 {
    font-weight: 700;
    font-size: 3em;
    color: white; }

.header-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto; }
  .header-container ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch; }
    @media (min-width: 768px) {
      .header-container ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch; } }
    @media (min-width: 1024px) {
      .header-container ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: right; } }

.main-nav li {
  margin: 15px 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 7px 2px rgba(255, 165, 0, 0.8); }
  .main-nav li a {
    text-decoration: none;
    color: #444444;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .5s; }
  @media (min-width: 768px) {
    .main-nav li {
      display: inline-block;
      width: auto;
      height: auto;
      background: initial;
      box-shadow: none;
      padding: 10px;
      margin: 0; }
      .main-nav li a {
        text-shadow: 3px 3px 5px #222;
        color: white; } }
@media (min-width: 1024px) {
  .main-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch; } }
@media (min-width: 1024px) {
  .main-nav h1, .main-nav ul {
    flex: 1 0 auto;
    align-self: center; } }

/***** INTRO *****/
.intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch; }
  @media (min-width: 1024px) {
    .intro {
      padding: 0 4.98047%; } }
  .intro p {
    text-align: center; }
  @media (min-width: 768px) {
    .intro {
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: center;
      align-items: center; }
      .intro p {
        text-align: left; } }
  .intro .intro-text-container {
    padding: 10px; }
  .intro .intro-child {
    flex-basis: 46.09375%; }

/***** PORTFOLIO *****/
.portfolio, .skills {
  text-align: center;
  background-color: #fefefe; }
  .portfolio .flex-container, .skills .flex-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    max-width: 1024px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .portfolio .flex-container, .skills .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch; } }

.skills {
  margin-top: 20px; }

.portfolio-element {
  padding: 10px; }
  @media (min-width: 768px) {
    .portfolio-element {
      flex-basis: 46.09375%; } }
  @media (min-width: 1024px) {
    .portfolio-element {
      flex-basis: 27.47396%; } }

/***** FOOTER ****/
footer {
  text-align: center;
  margin-top: 20px;
  max-width: 1024px;
  margin: 0 auto; }
  footer p {
    width: 80.46875%;
    max-width: 600px;
    margin: 30px auto; }
  footer hr {
    width: 80.46875%; }

.footer-nav {
  text-align: initial;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 80.46875%;
  max-width: 1024px;
  margin: 0 auto; }
  .footer-nav #student-name {
    margin-right: auto;
    text-transform: uppercase; }
  .footer-nav ul {
    display: none; }
    @media (min-width: 768px) {
      .footer-nav ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch; } }
    .footer-nav ul li {
      margin: 0 5px; }

@media (min-width: 768px) {
  #back-to-top {
    display: none; } }

/*# sourceMappingURL=application.css.map */
