//MIXINS AND EXTENTIONS

//section gutter
%section-gutter {
	padding-top: $gutter * 2;
}

//Flexbox mixin
@mixin flexbox ($fd: column, $fw: nowrap, $justc: center, $alignv: null, $alignc: stretch) {
	display: flex;
	flex-flow: $fd $fw;
	justify-content: $justc;
	align-items: $alignc;
	@content;
}

//Center container mixin
@mixin center-container {
	max-width: $max-width;
	margin: 0 auto;
}


//typography mixins
@mixin font-face($font1: 'Montserrat', $font2: sans-serif, $fw: 500, $color: $color-black, $fs: 1em) {
	font-family: $font1, $font2;
	font-style: normal;
	font-weight: $fw;
	color: $color;
	font-size: $fs;
	@content;
}

@mixin cta-shadow($color: $color-cta) {
	box-shadow: 0px 0px 7px 2px rgba($color,0.8);
}

@mixin a {
	text-decoration: none;
    color: #444444;
    font-weight: 700;
    text-transform: uppercase;
    transition: color .5s;
}
%a {
	@include a;
}
@mixin text-shadow {
	text-shadow: 3px 3px 5px #222;
}
%hover {
	color: $color-cta;
}


//text-shadow extension
%text-shadow {
	@include text-shadow;
}
