//Colours
$color-default-bg: #eee;
$color-text-shadow: #222;
$color-link-color: #444;
$color-header-top-gradient: #78CAFF;
$color-cta: #FFA500;
$color-white: #fefefe;

//gutter padding and margins
$gutter: 10px;
$section-gutter: 20px;

//breakpoints
$br-small: 768px;
$br-large: 1024px;

//Layout basis
$max-width: 1024px;