//Colours
$color-default-bg: #eee;
$color-text-shadow: #222;
$color-link-color: #444;
$color-header-top-gradient: #78CAFF;
$color-cta: #FFA500;
$color-white: #fefefe;

//padding and margins
$padding-default: 0 5%;