/***** HEADER AND NAVIGATION *****/

header {
	background: linear-gradient($color-header-gradient, transparent 80%),
	linear-gradient(transparent, $color-white 100%),
	url(../images/james-donovan-.jpg) no-repeat center / cover;

	h1 {
	    @extend %text-shadow;
	    color: $color-white;
	    @include font-face($font1: 'Roboto', $font2: sans-serif, $color: $color-white, $fw: 700, $fs: 3em );
	}
} 

.header-container {
	@include flexbox();
	text-align: center;
	@include center-container();
	ul {
	@include flexbox();

		@media (min-width: $br-small) {
		@include flexbox($fd: row, $fw: wrap);

		}
		@media (min-width: $br-large) {
		@include flexbox($fd: row, $fw: wrap, $justc: center);

		}
	}
	
}
%nav-li {
	margin: 15px 10px;
	padding: 10px;
}
.main-nav {
	li {
		background-color: $color-white;
		@extend %nav-li;
		@include cta-shadow;
		:hover {
			@extend %hover;
		}
		a {
			@include a();
		}
	@media (min-width: $br-small) {
		display: inline-block;
	    width: auto;
	    height: auto;
	    background: initial;
	    box-shadow: none;
	    padding: $gutter;
	    margin: 0;
	    a {
	    	@include text-shadow;
	    	color: $color-white;
	    }

	}
}
	@media (min-width: $br-large) {
		@include flexbox($fd: row);
	}
	h1, ul {
		@media (min-width: $br-large) {
		flex: 1 0 auto;
			align-self: center;
		}
	}
}