@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/***** GENERAL STYLES *****/
* {
	box-sizing: border-box;	
}
body {
	@include font-face;
	margin: 0;
	padding: 0;
	background: $color-default-bg; 
}


h1, h2, h3, h4, h5, h6 {
	@include font-face($font1: 'Roboto', $font2: sans-serif, $color: $color-black, $fw: 700, $fs: 1.3em);
}
h2 {
	margin-top: 0;
}
nav ul {
	list-style-type: none;
	padding: 0;
}

img {
	max-width: 100%;
}
div {
	width: 100%;
}
